<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <title>greet-someone</title>
    <link rel="icon" type="image/x-icon" href="/android-chrome-512x512.png">
    <link rel="stylesheet" href="/styles.css">
    <style>
        nav ul li a{
            text-decoration: none;
        }
        #copyButton{
            display: flex;
            position: relative;
            bottom: 13px;
            border-radius: 7px;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            margin-left: -30px;
            width: 20%;
            background-color: #4CAF50;
            height: 39px;
            right: -89%;
        }
        header{
            margin-top: -15px;

            background-color: white;
        }
        nav ul li{
            padding: 10px;
            list-style: none;
        }
        nav {
            display: block;
            margin: 0;
        }
        #textme{
            position: relative;
            bottom: -27px;
            left: -16.5%;
            vertical-align: middle;
            text-align: center;
            display: table-cell;
            width: 60%;
            padding: 10px;
        }
        nav ul{
            display: flex;
            justify-content: flex-start;
        }
    </style>
</head>
<body>
<header>
    <div class="headerall">
    <nav>
        <ul>
            <li><a href="/skdfhskdjfhskdfjhsk">Themes</a></li>
            <li><a href="/skdfhskdjfhskdfjhsk">Birthday</a></li>
            <li><a href="/skdfhskdjfhskdfjhsk">Anniversery</a></li>
            <li><a href="/skdfhskdjfhskdfjhsk">more+</a></li>
        </ul>
    </nav>
    </div>

</header> 
<script type="text/javascript">
	atOptions = {
		'key' : '15f6cd10e14575347137dbd7a581b98a',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/15f6cd10e14575347137dbd7a581b98a/invoke.js"></scr' + 'ipt>');
</script>
<div class="ballon_container">
    <div class="balloon balloon1">H</div>
    <div class="balloon balloon1">A</div>
    <div class="balloon balloon1">P</div>
    <div class="balloon balloon1">P</div>
    <div class="balloon balloon1">Y</div>
</div>
<div class="balloon_container">
    <div class="balloon balloon2">G</div>
    <div class="balloon balloon2">U</div>
    <div class="balloon balloon2">R</div>
    <div class="balloon balloon2">U</div>
    <div class="balloon balloon2">P</div>
    <div class="balloon balloon2">U</div>
    <div class="balloon balloon2">R</div>
    <div class="balloon balloon2">N</div>
    <div class="balloon balloon2">I</div>
    <div class="balloon balloon2">M</div>
    <div class="balloon balloon2">A</div>
</div>
<div class="balloon_container">
    <div class="balloon balloon3">F</div>
    <div class="balloon balloon3">R</div>
    <div class="balloon balloon3">O</div>
    <div class="balloon balloon3">M</div>
</div>
<div class="mainunder"><h1 class="mainvi"><%= rahulsaini %></h1></div>
<script async="async" data-cfasync="false" src="//pl19727236.highrevenuegate.com/2adebe026132bb0caab7c12b8c9ca9f2/invoke.js"></script>
<div id="container-2adebe026132bb0caab7c12b8c9ca9f2"></div>
<div class="chat-area">
    <form method="post" action="/">
        <textarea name="changetheurl" id="textme" cols="60" rows="1"></textarea>
        <button class="buttont">clickme</button>
    </form>
    <button id="copyButton">share</button>
    <script src="/index.js"></script><script type='text/javascript' src='//pl19728762.highrevenuegate.com/20/2f/a4/202fa41c2ef68934431cd1d6b443ca7f.js'></script>
</body>
</html>